<div class="exchanges">
    <div class="exchange" *ngFor="let exchange of exchanges">
        <div class="prices">
            <span>{{ exchange?.buy }}</span>
            <span>{{ exchange?.sale }}</span>
        </div>
        <div class="currencies">
            <span>{{ exchange?.ccy }}</span>
            <span>{{ exchange?.base_ccy }}</span>
        </div>
    </div>
    <div class="exchange-actions">
        <button class="close-bth" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>