<form [formGroup]="addCapitalForm">
    <h1 mat-dialog-title>Add</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" type="text" formControlName="Name" name="Name">
        
            <mat-error *ngIf="hasError('Name', 'required')">
                The field is required
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="addNewCapital()">Save</button>
        <button mat-button (click)="close()">Close</button>
    </div>
</form>