<div class="body">
  <section class="greetings-section">
    <div class="grettings-container">
      <a routerLink="/">
        <div class="grettings">
          <h1>Welcome to Finance Tracker</h1>
          <p>This is your one-stop solution to track your finances effectively.</p>
        </div>
      </a>
    </div>
  </section>
  <br />

  <section class="content-section">
    <div class="content-container">
      <app-menu-selector></app-menu-selector>

      <router-outlet></router-outlet>
    </div>
  </section>
</div>
