<nav>
  <ul class="list">
    <a routerLink="/accounts">
      <li class="item">
        Accounts
      </li>
    </a>
    <a routerLink="/incomes">
      <li class="item">
        Incomes
      </li>
    </a>
    <a routerLink="/expenses">
      <li class="item">
        Expenses
      </li>
    </a>
    <a routerLink="/transfers">
      <li class="item">
        Transfers
      </li>
    </a>
    <a routerLink="/goals">
      <li class="item">
        Goals
      </li>
    </a>
  </ul>
</nav>
