<div class="cp-details" *ngIf="capital">

  <div class="cp-header">
    <button class="cp-return" routerLink="../">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

  <div class="cp-details-col">
    <span class="cp-text">Balance</span>
    <div class="balance-input">
      <input
        type="number"
        [(ngModel)]="capital.balance"
        placeholder="Balance"
        #cpBalance="ngModel"
        (ngModelChange)="onInputChange()"
        required
        min="0"
      />

      <select class="currency" [(ngModel)]="capital.currency" (change)="onInputChange()">
        <option [value]="capital.currency">
          {{ capital.currency }}
        </option>
        <option *ngFor="let currency of getCurrencyValues()" [value]="currency">{{ currency }}</option>
      </select>

    </div>

    <div *ngIf="modelInvalidAndTouched(cpBalance)" class="error-message">
      <span *ngIf="modelError(cpBalance, 'required')">Balance is required.</span>
      <span *ngIf="modelError(cpBalance, 'min')">Balance must be greater than 0.</span>
    </div>
  </div>

  <div class="cp-details-col">
    <span class="cp-text">Name</span>
    <input
      type="text"
      [(ngModel)]="capital.name"
      #cpName="ngModel"
      (ngModelChange)="onInputChange()"
      placeholder="Name"
      required
      maxlength="32"
    />
  </div>

  <div *ngIf="modelInvalidAndTouched(cpName)" class="error-message">
    <span *ngIf="modelError(cpName, 'required')">Name is required.</span>
    <span *ngIf="modelError(cpName, 'maxlength')">Name must be less than 32.</span>
  </div>

  <div class="cp-actions" *ngIf="isModified">
    <button class="cp-act-item save" (click)="saveChanges()" [disabled]="cpName.invalid || cpBalance.invalid">Save</button>
    <button class="cp-act-item cancel" (click)="cancelChanges()">Cancel</button>
  </div>

  <div class="cp-actions" *ngIf="!isModified">
    <button class="cp-act-item delete" (click)="delete(capital.id)">Delete</button>
  </div>
</div>
