<form [formGroup]="addCapitalForm">
    <h1 mat-dialog-title>Add new capital</h1>
    <div mat-dialog-content class="dialog-content">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" type="text" formControlName="Name" name="Name" maxlength="24">

            <mat-error *ngIf="hasError('Name', 'required')">
                The field is required
            </mat-error>

            <mat-error *ngIf="hasError('Name', 'minLength')">
                The min length must be greater than 1
            </mat-error>

            <mat-error *ngIf="hasError('Name', 'maxLength')">
                The max length must be less than 24
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Balance</mat-label>
            <input matInput placeholder="Balance" type="number" formControlName="Balance" name="Balance">

            <mat-error *ngIf="hasError('Balance', 'required')">
                The field is required
            </mat-error>

            <mat-error *ngIf="hasError('Balance', 'min')">
                The balance not be lower than 0
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Currency</mat-label>

          <mat-select formControlName="Currency">
            <mat-option [value]="currency.UAH">UAH</mat-option>
            <mat-option [value]="currency.USD">USD</mat-option>
            <mat-option [value]="currency.EUR">EUR</mat-option>
            <mat-option [value]="currency.PLN">PLN</mat-option>
          </mat-select>

          <mat-error *ngIf="hasError('Currency', 'required')">
            The field is required
          </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="!addCapitalForm.valid" (click)="addNewCapital()">Save</button>
        <button mat-button (click)="close(false)">Close</button>
    </div>
</form>
