<form [formGroup]="addIncomeForm">
    <h1 mat-dialog-title>Add</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount" type="text" formControlName="Amount" name="Amount">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="!addIncomeForm.valid" (click)="addNewIncome()">Save</button>
        <button mat-button (click)="close(false)">Close</button>
    </div>
</form>