<h2 mat-dialog-title>Select Custom Date Range</h2>
<form [formGroup]="datePickerForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="date-picker-content">

      <mat-slide-toggle formControlName="allTimeCheck">All Time</mat-slide-toggle>

      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          formControlName="startDate"
          [matDatepicker]="startPicker"
        />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>

        <mat-error *ngIf="datePickerForm.get('startDate')?.invalid && datePickerForm.get('startDate')?.touched">Start Date is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input
          matInput
          formControlName="endDate"
          [matDatepicker]="endPicker"
        />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>

        <mat-error *ngIf="datePickerForm.get('endDate')?.invalid && datePickerForm.get('endDate')?.touched">End Date is required</mat-error>
      </mat-form-field>

  </div>

  <div mat-dialog-actions align="center">
    <button mat-raised-button type="submit" [disabled]="datePickerForm.invalid" color="primary">Apply</button>
    <button mat-button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
