.capitals-container {
    margin-top: 20px;
    
    .capitals-inner {
        gap: 15px;

        .capitals-header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 10px 15px 10px 15px;

            .ch-text {
                font-size: 24px;
                font-weight: 500;
            }
        }

        .capitals-content {
            padding-top: 5px;
        }
    }
}