.header {
  background-color: #ffffff;
  border-bottom: 2px solid #efefef;
  z-index: 9999;
  position: fixed;
  width: 100%;

  .header-container {
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      .logo {
        font-size: 17px;
        font-weight: 500;
        color: black;
        text-shadow: 1px 1px 2px #ccc;
      }
    }
  }
}
