<h2 mat-dialog-title>Menu</h2>
<mat-dialog-content>
  <ul>
    <li routerLink="/menu/capitals" tabindex="0" (keydown)="navigate($event, '/menu/capitals')" class="dropdown-item">Capitals</li>
    <li routerLink="/menu/incomes" tabindex="0" (keydown)="navigate($event, '/menu/incomes')" class="dropdown-item">Incomes</li>
    <li routerLink="/menu/expenses" tabindex="0" (keydown)="navigate($event, '/menu/expenses')" class="dropdown-item">Expenses</li>
    <li routerLink="/menu/transfers" tabindex="0" (keydown)="navigate($event, '/menu/transfers')" class="dropdown-item">Transfers</li>
    <li routerLink="/menu/goals" tabindex="0" (keydown)="navigate($event, '/menu/goals')" class="dropdown-item">Goals</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" (keydown)="handleKeydown($event)" tabindex="0">Close</button>
</mat-dialog-actions>
