$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$breakpoints: (
    'xs': 320px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);
$header-background: #ffffff;
$header-border-color: #efefef;
$text-color: black;
$text-shadow: 1px 1px 2px #ccc;
$exchange-border-color: #7a7979;
$navigation-item-hover-color: #efefef;
$button-active-color: #f4ca93;