<div class="expense-header">
  <div class="capital-selector">
    <mat-icon>account_balance_wallet</mat-icon>
    <select [ngModel]="selectedCapital" (ngModelChange)="onCapitalChange($event)">
      <option [value]="null">All</option>
      <option *ngFor="let capital of capitals" [ngValue]="capital">
        {{capital.name}}
      </option>
    </select>
  </div>

  <div class="capital-totalExpense">
    <span>{{ getCapitalBalance() | currency: symbol(selectedCapital?.currency) }}</span>
  </div>
</div>

<div class="expense-content">
  <div class="period-tab-menu">
    <ul class="per-tabs">
      <li *ngFor="let period of periods"
          [ngClass]="{ 'active': period == selectedPeriod}"
          class="per-tab"
          (click)="selectTab(period)">
        {{ period }}
      </li>
    </ul>

    <div>
      <p>
        <span *ngIf="startDate && endDate && (!allTime || selectedPeriod !== Periods.Custom)">
          {{ startDate | date }} - {{ endDate | date }}
        </span>

        <span *ngIf="allTime && selectedPeriod == Periods.Custom">
          All time
        </span>
      </p>
    </div>
  </div>

  <div class="expense-diagram">
    <span class="expense-amount" *ngIf="hasExpenses(); else noExpenses">
      {{ getCapitalTotalExpenses() | currency: symbol(selectedCapital?.currency) }}
    </span>

    <button class="add-expense" (click)="openDialogAddExpense()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <ng-template #noExpenses>
    <p>There was no expenses found.</p>
  </ng-template>

  <div class="categories">
    <a [routerLink]="['/categories', category.id]" class="category" *ngFor="let category of categories">
      <div class="category-name">{{ category.name }}</div>
      <div class="category-expense">{{ category.totalExpenses | currency: symbol(selectedCapital?.currency) }}</div>
      <div class="category-percent">{{ category.totalExpensesPercent }} %</div>
    </a>
  </div>
</div>


