<header class="header">
  <div class="header-container">
    <div class="header-inner">
      <div class="head">
        <button class="burger-menu" (click)="isSidebarExpanded = true" aria-label="Open menu">
          <mat-icon>menu</mat-icon>
        </button>

        <a class="logo" routerLink="/">
          <img src="../../../../favicon.ico">
        </a>

        <button class="home" routerLink="/" aria-label="Home">
          <mat-icon>home</mat-icon>
        </button>

        <button class="exchange-button" (click)="openExchangeDialog()" aria-label="Open exchange dialog">
          <mat-icon>attach_money</mat-icon>
        </button>
      </div>

      <div class="exchanges">
        <ng-container *ngFor="let exchange of exchanges">
          <div class="exchange">
            <div class="prices">
              <span>{{ exchange?.buy || '0' | number: '1.2-2' }}</span>
              <span>{{ exchange?.sale || '0' | number: '1.2-2' }}</span>
            </div>
            <div class="currencies">
              <span>{{ exchange?.targetCurrency || 'None' }}</span>
              <span>{{ exchange?.nationalCurrency || 'None' }}</span>
            </div>
          </div>
        </ng-container>
      </div>

      <nav class="navigation">
        <ul class="list">
          <li *ngFor="let item of navItems" class="item" [routerLink]="item.link">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </li>
        </ul>
      </nav>

      <div class="profile">
        <button class="account-button">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="sidebar" [ngClass]="{'expanded': isSidebarExpanded}">
    <div class="sidebar-header">
      <button class="sidebar-btn-close" (click)="isSidebarExpanded = false" aria-label="Close menu">
        <mat-icon>close</mat-icon>
      </button>
      <span>Menu</span>
    </div>

    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li *ngFor="let item of navItems" class="sidebar-nav-item" [routerLink]="item.link" (click)="isSidebarExpanded = false">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
