@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.header {
  background-color: $header-background;
  border-bottom: 2px solid $header-border-color;
  width: 100%;

  .header-container {
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include respond-to('xs') {
        padding: 15px 0;
      }

      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .logo {
          display: none;
          font-size: 15px;
          font-weight: 500;
          color: $text-color;
          text-shadow: $text-shadow;

          @include respond-to('sm') {
            display: flex;
            font-size: 20px;
          }
        }

        .burger-menu {
          display: flex;

          @include respond-to('xl') {
            display: none;
          }
        }
      }


      .exchanges {
        display: flex;
        justify-content: center;
        gap: 5px;

        .exchange {
          display: none;
          gap: 5px;
          border: 1px solid $exchange-border-color;
          border-radius: 5px;
          padding: 5px;

          @include respond-to('md') {
            display: inline-flex;
          }

          .prices {
            display: flex;
            flex-direction: column;
            font-weight: 500;
          }

          .currencies {
            display: flex;
            flex-direction: column;
            color: $exchange-border-color;
          }
        }
      }

      .navigation {
        .list {
          display: flex;
          flex-direction: row;
          border-radius: 10px;
          gap: 15px;

          .item {
            display: flex;
            align-items: center;
            color: rgb(34, 34, 34);
            font-weight: 500;
            font-size: 15px;
            padding: 10px;
            gap: 5px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: $navigation-item-hover-color;
              cursor: pointer;
            }

            @include respond-to('md') {
              padding: 12px;
            }
          }
        }
      }

      .profile {
        display: flex;
        justify-content: center;
        gap: 5px;
        color: black;
        font-weight: 500;
        font-size: 15px;

        .balance {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: #e7e6e6;
          padding: 5px;
        }

        .exchange-button,
        .account-button {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          color: rgb(49, 40, 40);
          transition: background-color 0.3s ease-in-out;

          &.active {
            color: $button-active-color;
          }

          &:hover {
            background-color: $navigation-item-hover-color;
          }
        }

        .exchange-button {
          @include respond-to('md') {
            display: none;
          }
        }
      }
    }
  }


  @media (max-width: 1200px) {
    .navigation {
      display: none;
    }

    .burger-menu {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .exchange {
      display: none;
    }

    .exchange-button {
      display: flex;
    }
  }

  @media (max-width: 320px) {
    .logo {
      display: none;
    }
  }
}