@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.exchanges {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    background-color: white;
    border-radius: 5px;

    .exchange {
        display: flex;
        gap: 5px;
        padding: 5px;

        .prices {
            display: flex;
            flex-direction: column;
            font-weight: 500;
        }

        .currencies {
            display: flex;
            flex-direction: column;
            color: $exchange-border-color;
        }
    }

    .exchange-actions {
        display: flex;
        justify-content: center;

        .close-bth {
            border-left: 1px #ccc solid;
            padding: 5px;
        }
    }
}
