.cp-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    .cp {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        transition: background-color 0.3s ease-out;
        gap: 5px;
        cursor: pointer;

        .cp-delete {
            color: red;
        }
    
        &:hover {
            background-color: bisque;
        }
    }

    .cp-add {
    }

    .cp-edit {
    }
}