@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/scss/mixins.scss';

.cp-lh {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;

    .ta {
      display: flex;
      align-items: center;
      flex-direction: column;

      .ta-text {
        font-size: 14px;
        color: #858585;
      }

      .ta-sum {
        font-size: 20px;
        font-weight: 600;
        padding: 5px;
        color: #282828;
      }
    }

    .cp-bar {
      display: none;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #e6e6e6;
      padding: 5px;
      width: 100%;

      @include respond-to('md') {
        display: flex;
      }

      .cp-search {
        display: flex;
        align-items: center;
        gap: 5px;

        input {
          padding: 3px;
          border-radius: 5px;
          border: 1px #ccc solid;
        }
      }

      .cp-sort {
        label {
          padding-right: 5px;
        }

        select {
          padding: 5px;
          border-radius: 5px;
          border: 1px #ccc solid;
        }
      }

      .cp-currency {
        span {
          padding-right: 5px;
        }
      }

      .btn-create-icon {
        cursor: pointer;
        color: #282828;
        transition: color 0.3s ease;

        &:hover {
          color: #c0c0c0;
        }
      }
    }
}

.cp-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .cp {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e6e6e6;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        position: relative;
        gap: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-out, transform 0.3s ease-out;

        .cp-name, .cp-incomes, .cp-expenses {
            font-size: 16px;
            font-weight: 400;
            color: #282828;
        }

        .cp-balance {
          font-size: 18px;
          font-weight: 600;
        }

        .cp-props {
          display: flex;
          flex-direction: row;
          gap: 15px;

          .cp-props-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            gap: 2px;
          }

          .cp-incomes {
            color: green;
          }

          .cp-expenses {
            color: red;
          }
        }

        .cp-detail-actions {
          position: absolute;
          top: 10px;
          right: 10px;

          display: flex;
          flex-direction: column;
          gap: 10px;

          .cp-d-act {
            position: relative;
            cursor: pointer;
          }

          .cp-delete {
            &:hover {
              color: red;
            }
          }

          .cp-visible {
            &:hover {
              color: #0053ff;
            }
          }
        }

        &:hover {
          background-color: #cfcfcf;
          transform: scale(101%);
        }
    }
}

@media (max-width: 745px) {
  .cp-bar {
    display: none;
  }
}
