<div class="cp-list">
    <div class="cp" *ngFor="let capital of capitals">
        <a [routerLink]="[capital.id]">
            <p><b>{{ capital.name }}</b></p>
            <p>{{ capital.balance | currency: capital.currency }}</p>
        </a>
        <div class="cp-delete" *ngIf="editMode" (click)="removeCapital(capital.id)">
            <mat-icon>clear</mat-icon>
        </div>
    </div>
</div>

<div class="cp-actions">
    <button class="cp-act-item" (click)="openToCreateCapitalDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
    
    <button class="cp-act-item" (click)="toggleEditMode()" *ngIf="capitals?.length">
        <mat-icon>delete_outline</mat-icon>
    </button>
</div>
