.cp-lh {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;

    .total-amount {
        border-radius: 5px;
        border: 1px #ccc solid;
        padding: 10px;
        font-weight: 600;
        font-size: 18px;
        color: #282828;
    }
}

.cp-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    .cp {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e6e6e6;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 15px;
        position: relative;
        gap: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-out, transform 0.3s ease-out;

        .cp-name, .cp-incomes, .cp-expenses {
            font-size: 16px;
            font-weight: 400;
            color: #282828;
        }

        .cp-balance {
          font-size: 18px;
          font-weight: 600;
        }

        .cp-incomes {
          color: green;
        }

        .cp-expenses {
          color: red;
        }

        .cp-incomes, .cp-expenses {
          font-size: 14px;
          font-weight: 400;
        }

        .cp-menu {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;

          &:hover {
              color: red;
          }
        }

        &:hover {
          background-color: #c0c0c0;
          transform: scale(101%);
        }
    }
}

.cp-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;

    .cp-act-item {
        width: 25%;
        background-color: #e6e6e6;
        border: 1px #747474 solid;
        color: #282828;
        border-radius: 5px;
        padding: 5px;
        gap: 5px;
        cursor: pointer;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;

        &:hover {
            color: #fff;
            background-color: #c0c0c0;
        }
    }
}
