.dialog-title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.dialog-content {
  font-size: 16px;
  color: #fff;
  padding: 16px;
  text-align: center;
}

.dialog-actions {
  display: flex;
  justify-content: space-around;

  button[mat-button] {
    background-color: #eee;
    border-radius: 5px;
    min-width: 100px;
    font-weight: 500;

    &[color="warn"] {
      color: #f44336;
    }
  }
}
